<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>My Cart | Billion Courses</title>
    <link rel="icon" href="images/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/javascript/script.js"></script>
</head>
<body>
    <%- include('parts/header.ejs') %>
    <div class="container mt-5">
        <h2>Paid Courses. Before paying do not forget to check this table!</h2>
        <div class="row">
            <% paidCourses.forEach(item => { %>
                <div class="col-md-4">
                    <div class="card cart-item paid-course">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.title %></h5>
                            <p class="card-text">Price: $<%= item.price %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        
        <h2>My Cart</h2>
        <div class="row">
            <% cartItems.forEach(item => { %>
                <div class="col-md-4">
                    <div class="card cart-item">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.title %></h5>
                            <p class="card-text">Price: $<%= item.price %></p>
                            <button class="btn btn-sm btn-outline-secondary" onclick="removeFromCart('<%= item.course_id %>')">Delete</button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <button class="btn btn-success" id="pay">Payment Methods</button>
    </div>
    <script src="/javascript/cart.js"></script>
</body>
</html>
